@model List<string>

@{
    foreach(var s in Model)
    {
        <h1>@s</h1>
    }
    
}
<!--
    <html>
    <head></head>
    <body>
        <form method='post' >
            <label>please enter your code </label> <br />
            <textarea class="textArea" name="textArea" rows="15" cols='40'></textarea>
            <input type="submit" value="scanner" />
        </form>
    </body>
</html>

-->
